* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #483853 #2d0b47;
  scroll-behavior: auto;
}
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #483853;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d0b47;
  border-radius: 20px;
  border: 3px solid #483853;
}
.main-container {
  min-height: 70vh;
}
