/* .nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding: 1em;
  width: 100%;

  background: rgba(250, 241, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  z-index: 999;
} */

/* .ul {
  display: flex;
} */

/* .li {
  letter-spacing: 3px;
  margin-left: 50px;
  color: #fff;
  list-style: none;
  cursor: pointer;

  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    hotpink 90%,
    hotpink 100%
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
} */

/* .li:hover {
  font-weight: bold;
  background-size: 100% 100%;
  background-position-x: left;
}

.logo {
  cursor: pointer;
} */
